.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #00080C;
    color: #fff;
}

.container {
    margin-top: 20px;
    min-height: 80vh;
    display: grid;
    place-items: center;
    gap: 20px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 70%;
    place-items: center;
    gap: 30px;
}

.graphsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    box-sizing: border-box; /* Importante para contener los border y padding */
    gap: 20px;
    place-items: center;
}

.donutGraphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000E11;
    border: 1px solid rgba(0, 255, 150, 0.4);
    border-radius: 5px;
}

.barGraphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* ---- Responsive ---- */
@media (max-width: 600px) {
    .cardsContainer {
        width: 100%;
    }

    .graphsContainer {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 16px;
    }

    .donutGraphContainer, .barGraphContainer {
        width: 90%;
    }
}