.container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 35px;
    font-weight: 700;
    color: #53EF8F;
    text-shadow:
        0 0 5px #000000,  /* Sombra principal para el brillo */
        0 0 10px #53EF8F,
        0 0 20px #000000,
        0 0 40px #53EF8F, /* Resplandor de color neón */
        0 0 80px #000000;
}

@media (max-width: 600px) {
    .logo {
        font-size: 24px;
    }
}